# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

**Objectives:**
- Python
- R
- Java

### Some of the commonly used libraries used by Data Scientists include:
- Scientific Computing Libraries
- Visualization Libraries
- High-Level- Machine Learning and Deep Learning

## Execute the table
| Data Science Tools | 
| -------------| 
| Apache Spark | 
| Jupyter | 
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
### Mei Yuan